# GCC
build:gccd --cxxopt=-std=c++20
build:gccd --cxxopt=-Wall
build:gccd --cxxopt=-Werror
build:gccd --compilation_mode=dbg

# GCC
build:gcc --cxxopt=-std=c++20
build:gcc --cxxopt=-Wall
build:gcc --cxxopt=-Werror
build:gcc --compilation_mode=opt

# Visual Studio 2022
build:vs --cxxopt=/std:c++20
build:vs --cxxopt=/Zc:__cplusplus
build:vs --enable_runfiles # https://github.com/bazelbuild/bazel/issues/8843
build:vs --define compiler=vs2022
build:vs --copt=-DWIN32_LEAN_AND_MEAN
build:vs --copt=-DNOGDI
build:vs --host_copt=-DWIN32_LEAN_AND_MEAN
build:vs --host_copt=-DNOGDI

# macOS (e.g. Clang 12.0.0)
build:macos --cxxopt=-std=c++20
build:macos --cxxopt=-Wall
build:macos --repo_env=CC=clang
