name: Bazel

on:
   pull_request: {}
   push: {}

jobs:
  build_and_test_ubuntu20:
    name: Linux Ubuntu 20.04 build <GCC 9.3.0>
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3

    - name: Mount bazel cache
      uses: actions/cache@v2
      with:
        path: "/home/runner/.cache/bazel"
        key: bazel

    - name: Build
      run: |
        bazelisk build --config=gcc9 //...

  build_and_test_ubuntu22:
    name: Linux Ubuntu 22.04 build <GCC 11.2.0>
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    - name: Mount bazel cache
      uses: actions/cache@v2
      with:
        path: "/home/runner/.cache/bazel"
        key: bazel

    - name: Build
      run: |
        bazelisk build --config=gcc11 //...

  build_and_test_windows10:
    name: Windows Server 2019 build <Visual Studio 2019>
    runs-on: windows-2019

    steps:
    - uses: actions/checkout@v3

    - name: Mount bazel cache
      uses: actions/cache@v2
      with:
        path: "/home/runner/.cache/bazel"
        key: bazel

    - name: Build
      run: |
        bazelisk build --config=vs2019 //...

  build_and_test_windows11:
    name: Windows Server 2022 build <Visual Studio 2022>
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v3

    - name: Mount bazel cache
      uses: actions/cache@v2
      with:
        path: "/home/runner/.cache/bazel"
        key: bazel

    - name: Build
      run: |
        bazelisk build --config=vs2022 //...

  build_and_test_macos11:
    name: macOS 11 Bazel build <Apple Clang13>
    runs-on: macOS-11

    steps:
    - uses: actions/checkout@v3

    - name: Mount bazel cache
      uses: actions/cache@v2
      with:
        path: "/home/runner/.cache/bazel"
        key: bazel

    - name: Print info
      run: |
        echo "OS info:"
        sw_vers
        uname
        echo "Compiler info:"
        clang --version
    
    - name: Build
      run: |
        brew install qt@6
        brew link qt@6
        bazelisk build --config=macos //...

  build_and_test_macos12:
    name: macOS 12 Bazel build <Apple Clang13>
    runs-on: macOS-12

    steps:
    - uses: actions/checkout@v3

    - name: Mount bazel cache
      uses: actions/cache@v2
      with:
        path: "/home/runner/.cache/bazel"
        key: bazel

    - name: Print info
      run: |
        echo "OS info:"
        sw_vers
        uname
        echo "Compiler info:"
        clang --version
    
    - name: Build
      run: |
        brew install qt@6
        brew link qt@6
        bazelisk build --config=macos //...
